._1-1-user-home-page,
._1-1-user-home-page * {
  box-sizing: border-box;
}
._1-1-user-home-page {
  /* display: flex;
  justify-content: center; */
  background: var(--color-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: #202430;
  /* height: 100vh;  */
  /* margin: 0; */
}

.header-1-desktop {
  background: #202430;
  flex-shrink: 0;
  width: 1440px;
  height: 794px;
  position: relative;
  overflow: hidden;
}
.pic {
  position: absolute;
  inset: 0;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 629px;
  position: absolute;
  left: 125px;
  top: 160px;
}
.title2 {
  flex-shrink: 0;
  width: 533px;
  height: 289.58px;
  position: static;
}
.discover-more-than-5000-jobs {
  text-align: left;
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 72px;
  line-height: 110%;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 533px;
}
.discover-more-than-5000-jobs-span {
  color: #ffffff;
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 72px;
  line-height: 110%;
  font-weight: 600;
}
.discover-more-than-5000-jobs-span2 {
  color: var(--accents-blue, #26a4ff);
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 72px;
  line-height: 110%;
  font-weight: 600;
}
.group {
  width: 72.34%;
  height: 7.46%;
  position: absolute;
  right: 27.66%;
  left: 0%;
  bottom: 45.42%;
  top: 43.12%;
  overflow: visible;
}
.great-platform-for-the-job-seeker-that-searching-for-new-career-heights-and-passionate-about-startups {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --body-xlarge-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-xlarge-regular-font-size, 20px);
  line-height: var(--body-xlarge-regular-line-height, 160%);
  font-weight: var(--body-xlarge-regular-font-weight, 400);
  opacity: 0.7;
  position: relative;
  width: 521px;
}
.search {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search-bar {
  background: var(--color-white, #ffffff);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 852px;
  position: relative;
  box-shadow: var(
    --shadow-box-shadow,
    0px 2.71px 4.4px 0px rgba(192, 192, 192, 0.03),
    0px 6.86px 11.12px 0px rgba(192, 192, 192, 0.04),
    0px 14px 22.68px 0px rgba(192, 192, 192, 0.05),
    0px 28.84px 46.72px 0px rgba(192, 192, 192, 0.06),
    0px 79px 128px 0px rgba(192, 192, 192, 0.09)
  );
}
.job-title {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.search2 {
  width: 78.18%;
  height: 80.09%;
  position: absolute;
  right: 10.24%;
  left: 11.58%;
  bottom: 8.33%;
  top: 11.58%;
  overflow: visible;
}
.frame-1063 {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.job-title-or-keyword {
  color: var(--neutrals-60, #7c8493);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  opacity: 0.5;
  position: relative;
}
.rectangle-2707 {
  background: var(--neutrals-20, #d6ddeb);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.location {
  padding: 0px 24px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.location2 {
  width: 62.5%;
  height: 75%;
  position: absolute;
  right: 18.75%;
  left: 18.75%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.frame-1065 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.florence-italy {
  color: var(--neutrals-100, #25324b);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  opacity: 0.9;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.arrow-down-2 {
  width: 58.33%;
  height: 29.17%;
  position: absolute;
  right: 20.83%;
  left: 20.83%;
  bottom: 35.42%;
  top: 35.42%;
  overflow: visible;
}
.button {
  border: none;
  color: white;
  background: var(--brands-primary, #4640de);
  padding: 14px 27px 14px 27px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 180px;
  height: 50px;
  position: relative;
}

input{
  border: none;
}
.caption {
  color: var(--neutrals-0, #ffffff);
  text-align: center;
  font-family: var(--button-large-font-family, "Epilogue-Bold", sans-serif);
  font-size: var(--button-large-font-size, 18px);
  line-height: var(--button-large-line-height, 160%);
  font-weight: var(--button-large-font-weight, 700);
  position: relative;
}
.popular-ui-designer-ux-researcher-android-admin {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  opacity: 0.7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.popular-ui-designer-ux-researcher-android-admin-span {
  color: #ffffff;
  font-family: "Epilogue-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.popular-ui-designer-ux-researcher-android-admin-span2 {
  color: #ffffff;
  font-family: "Epilogue-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
.top-nav {
  padding: 0px 124px 0px 124px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 166px;
  height: 36px;
  position: static;
}
.logo-1 {
  width: 160px;
  height: 36px;
  position: static;
}
.frame-3 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: hidden;
}
.ellipse-2 {
  background: var(--brands-primary, #4640de);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.vector-7 {
  border-radius: 0px;
  width: 56.25%;
  height: 18.75%;
  position: absolute;
  right: 21.87%;
  left: 21.88%;
  bottom: 12.5%;
  top: 68.75%;
  overflow: visible;
}
.iconly-light-search {
  width: 62.5%;
  height: 62.5%;
  position: absolute;
  right: 18.75%;
  left: 18.75%;
  bottom: -37.5%;
  top: 75%;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.search3 {
  width: 78.18%;
  height: 80.09%;
  position: absolute;
  right: 10.24%;
  left: 11.58%;
  bottom: 8.33%;
  top: 11.58%;
  overflow: visible;
}
.job-huntly {
  color: var(--neutrals-100, #25324b);
  text-align: left;
  font-family: "RedHatDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 21px;
}
.logo-2 {
  width: 166px;
  height: 36px;
  position: static;
}
.vector-72 {
  border-radius: 0px;
  width: 56.25%;
  height: 18.75%;
  position: absolute;
  right: 21.87%;
  left: 21.88%;
  bottom: 15.62%;
  top: 65.62%;
  overflow: visible;
}
.search4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 7px;
  top: 24px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  overflow: hidden;
}
.iconly-bold-search {
  height: auto;
  position: absolute;
  left: 1.67px;
  top: 1.67px;
  overflow: visible;
}
.job-huntly2 {
  color: var(--neutrals-10i, #f8f8fd);
  text-align: left;
  font-family: "RedHatDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 21px;
}
.menu2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.top-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.caption2 {
  color: var(--neutrals-10i, #f8f8fd);
  text-align: center;
  font-family: "Epilogue-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.rectangle-2740 {
  background: rgba(70, 64, 222, 0);
  align-self: stretch;
  flex-shrink: 0;
  height: 4px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 78px;
  position: relative;
}
.button2 {
  border: none;
  background: #7c8493;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.caption3 {
  color: var(--neutrals-0, #ffffff);
  text-align: center;
  font-family: var(--button-normal-font-family, "Epilogue-Bold", sans-serif);
  font-size: var(--button-normal-font-size, 16px);
  line-height: var(--button-normal-line-height, 160%);
  font-weight: var(--button-normal-font-weight, 700);
  position: relative;
}
.landing-page-latest-job-open-desktop {
  background: #202430;
  padding: 72px 124px 72px 124px;
  flex-shrink: 0;
  width: 1440px;
  height: 877px;
  position: relative;
  overflow: hidden;
}
.content {
  background: linear-gradient(
      to left,
      rgba(32, 36, 48, 0.2),
      rgba(32, 36, 48, 0.2)
    ),
    linear-gradient(to left, #202430, #202430);
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 124px;
  top: 72px;
}
.title3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1192px;
  position: relative;
}
.latest-jobs-open {
  text-align: left;
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 600;
  position: relative;
}
.latest-jobs-open-span {
  color: var(--neutrals-10i, #f8f8fd);
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 600;
}
.latest-jobs-open-span2 {
  color: var(--neutrals-100, #25324b);
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 600;
}
.latest-jobs-open-span3 {
  color: var(--accents-blue, #26a4ff);
  font-family: "RedHatDisplay-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 600;
}
.button3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.show-all-jobs {
  color: var(--brands-primary, #4640de);
  text-align: center;
  font-family: var(
    --body-normal-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-normal-semibold-font-size, 16px);
  line-height: var(--body-normal-semibold-line-height, 160%);
  font-weight: var(--body-normal-semibold-font-weight, 600);
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.arrow-right {
  width: 50.2%;
  height: 62.5%;
  position: absolute;
  right: 30%;
  left: 19.79%;
  bottom: -36.46%;
  top: 73.96%;
  transform: translate(-1px, -13.05px);
  overflow: visible;
}

.list {
  background: #202430;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, auto);   /* 3 rows */
  gap: 32px;
  align-items: start;
  justify-items: start;
  position: relative;
}

/* .list {
  background: #202430;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
} */
.list > div {
width: 400px;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 580px;
  position: relative;
}
.job-list {
  background: var(--neutrals-0, #ffffff);
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
  border-radius: 20px;
}
.company-logo {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}
.base {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.nomad {
  width: 75.94%;
  height: 90%;
  position: absolute;
  right: 11.56%;
  left: 12.5%;
  bottom: 5%;
  top: 5%;
  overflow: hidden;
}
.group2 {
  width: 100%;
  height: 99.7%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.3%;
  top: 0.01%;
  overflow: visible;
}
.job-title2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
.social-media-assistant {
  color: var(--neutrals-100, #25324b);
  text-align: left;
  font-family: var(--display-2-font-family, "Epilogue-SemiBold", sans-serif);
  font-size: var(--display-2-font-size, 20px);
  line-height: var(--display-2-line-height, 120%);
  font-weight: var(--display-2-font-weight, 600);
  position: relative;
  cursor: pointer;
}
.company-name-location-job-type {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.nomad2 {
  color: var(--neutrals-80, #515b6f);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: relative;
}
.ellipse-4 {
  background: var(--neutrals-80, #515b6f);
  border-radius: 50%;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
}
.paris-france {
  color: var(--neutrals-80, #515b6f);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: relative;
}
.label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.label2 {
  background: rgba(86, 205, 173, 0.1);
  border-radius: 80px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.caption4 {
  color: var(--accents-green, #56cdad);
  text-align: left;
  font-family: var(
    --body-small-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-small-semibold-font-size, 14px);
  line-height: var(--body-small-semibold-line-height, 160%);
  font-weight: var(--body-small-semibold-font-weight, 600);
  position: relative;
}
.rectangle-2752 {
  background: var(--neutrals-20, #d6ddeb);
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.label3 {
  border-radius: 80px;
  border-style: solid;
  border-color: var(--accents-yellow, #ffb836);
  border-width: 1px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.caption5 {
  color: var(--accents-yellow, #ffb836);
  text-align: left;
  font-family: var(
    --body-small-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-small-semibold-font-size, 14px);
  line-height: var(--body-small-semibold-line-height, 160%);
  font-weight: var(--body-small-semibold-font-weight, 600);
  position: relative;
}
.label4 {
  border-radius: 80px;
  border-style: solid;
  border-color: var(--brands-primary, #4640de);
  border-width: 1px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.caption6 {
  color: var(--brands-primary, #4640de);
  text-align: left;
  font-family: var(
    --body-small-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-small-semibold-font-size, 14px);
  line-height: var(--body-small-semibold-line-height, 160%);
  font-weight: var(--body-small-semibold-font-weight, 600);
  position: relative;
}
.dropbox {
  width: 80%;
  height: 75%;
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.job-list2 {
  background: var(--neutrals-0, #ffffff);
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 580px;
  position: relative;
}
.terraform-enterprise {
  width: 71.25%;
  height: 80%;
  position: absolute;
  right: 13.75%;
  left: 15%;
  bottom: 10%;
  top: 10%;
  overflow: hidden;
}
.xmlid-8 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: 0.01%;
  left: 0.01%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.packer {
  width: 52.5%;
  height: 80%;
  position: absolute;
  right: 23.75%;
  left: 23.75%;
  bottom: 10%;
  top: 10%;
  overflow: visible;
}
.col-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 580px;
  position: relative;
}
.company-logo2 {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: visible;
}
.company-logo3 {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: visible;
}
.company-logo4 {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: visible;
}
.mask-group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.footer {
  background: var(--color-black, #202430);
  flex-shrink: 0;
  width: 1440px;
  height: 497px;
  position: relative;
}
.social-media-icons {
  height: auto;
  position: absolute;
  left: 1060px;
  top: 425px;
  overflow: visible;
}
.copyright {
  opacity: 0.5;
  position: absolute;
  inset: 0;
}
._2021-job-huntly-all-rights-reserved {
  color: var(--color-white, #ffffff);
  text-align: left;
  font-family: var(
    --body-normal-medium-font-family,
    "Epilogue-Medium",
    sans-serif
  );
  font-size: var(--body-normal-medium-font-size, 16px);
  line-height: var(--body-normal-medium-line-height, 160%);
  font-weight: var(--body-normal-medium-font-weight, 500);
  position: absolute;
  left: 124px;
  top: 427px;
}
.divider {
  height: auto;
  position: absolute;
  left: 124px;
  top: 385px;
  transform: translate(0px, -2px);
  overflow: visible;
}
.right {
  position: absolute;
  inset: 0;
}
.subscribe {
  width: 362px;
  height: 50px;
  position: static;
}
.frame-1260 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 954px;
  top: 203px;
}
.input {
  background: var(--neutrals-0, #ffffff);
  border-style: solid;
  border-color: var(--neutrals-20, #d6ddeb);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 223px;
  position: relative;
}
.this-is-placeholder {
  color: var(--neutrals-40, #a8adb7);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: relative;
}
.button4 {
  background: var(--brands-primary, #4640de);
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.the-latest-job-news-articles-sent-to-your-inbox-weekly {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: absolute;
  left: 954px;
  top: 111px;
  width: 306px;
}
.get-job-notifications {
  color: var(--neutrals-0, #ffffff);
  text-align: left;
  font-family: var(
    --body-large-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-large-semibold-font-size, 18px);
  line-height: var(--body-large-semibold-line-height, 160%);
  font-weight: var(--body-large-semibold-font-weight, 600);
  position: absolute;
  left: 954px;
  top: 64px;
}
.menu3 {
  position: absolute;
  inset: 0;
}
.second-column {
  width: 97px;
  height: 220px;
  position: static;
}
.description {
  width: 88px;
  height: 173px;
  position: static;
}
.contact-us {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: absolute;
  left: 786px;
  top: 258px;
}
.updates {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: absolute;
  left: 786px;
  top: 209px;
}
.guide {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: absolute;
  left: 786px;
  top: 160px;
}
.help-docs {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: absolute;
  left: 786px;
  top: 111px;
}
.resources {
  color: var(--color-white, #ffffff);
  text-align: left;
  font-family: var(
    --body-large-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-large-semibold-font-size, 18px);
  line-height: var(--body-large-semibold-line-height, 160%);
  font-weight: var(--body-large-semibold-font-weight, 600);
  position: absolute;
  left: 786px;
  top: 64px;
}
.first-column {
  width: 105px;
  height: 157px;
  position: static;
}
.description2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 588px;
  top: 111px;
}
.companies {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: relative;
}
.terms {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: relative;
}
.privacy-policy {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: relative;
}
.about {
  color: var(--neutrals-0, #ffffff);
  text-align: left;
  font-family: var(
    --body-large-semibold-font-family,
    "Epilogue-SemiBold",
    sans-serif
  );
  font-size: var(--body-large-semibold-font-size, 18px);
  line-height: var(--body-large-semibold-line-height, 160%);
  font-weight: var(--body-large-semibold-font-weight, 600);
  position: absolute;
  left: 589px;
  top: 64px;
}
.left {
  position: absolute;
  inset: 0;
}
.great-platform-for-the-job-seeker-that-passionate-about-startups-find-your-dream-job-easier {
  color: var(--neutrals-20, #d6ddeb);
  text-align: left;
  font-family: var(
    --body-normal-regular-font-family,
    "Epilogue-Regular",
    sans-serif
  );
  font-size: var(--body-normal-regular-font-size, 16px);
  line-height: var(--body-normal-regular-line-height, 160%);
  font-weight: var(--body-normal-regular-font-weight, 400);
  position: absolute;
  left: 124px;
  top: 132px;
  width: 376px;
}
.frame-32 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 124px;
  top: 66px;
  overflow: hidden;
}
.vector-73 {
  border-radius: 0px;
  width: 56.25%;
  height: 18.75%;
  position: absolute;
  right: 21.87%;
  left: 21.88%;
  bottom: 15.62%;
  top: 65.62%;
  overflow: visible;
}
.iconly-bold-search2 {
  height: auto;
  position: absolute;
  left: 1.67px;
  top: 1.67px;
  overflow: visible;
}
.job-huntly3 {
  color: var(--color-white, #ffffff);
  text-align: left;
  font-family: "RedHatDisplay-Bold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 64px;
}
